@import "variables";

#app {

  .album-container {
    width: 80%;
    min-width: 900px;
    margin: 0 auto;

    .item {
      width: 33%;
      height: 400px;
      background-color: white;
    }
  }
}
